@use '../abstracts/' as *;

.button-dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: rem(12);
  padding-block: rem(15) rem(14);
  background-color: transparent;
  font-size: var(--font-size-2);
  font-weight: 400;
  color: var(--color-grayish-blue-6);
  text-align: start;
  line-height: 1.5;
  transition: color var(--duration) ease;

  &:hover,
  &:focus-visible {
    color: var(--color-soft-red);
  }

  .question.active & {
    font-weight: 700;
    color: var(--color-dark-blue);
  }

  .icon {
    flex-shrink: 0;
    pointer-events: none;
    transition: transform var(--duration) ease-in-out;
  }

  .question.active & .icon {
    transform: rotateZ(180deg);
  }
}
